 body {
    background-image: url(./Ellipse\ 36.svg);
    padding-top: 2%;
 }

 .navbar-brand {
    color: #54BD95;
    font-size: 220%;
    font-weight: bold;
    margin-right: 35%;
 }

 #nav {
    margin-left: 6%;
 }

 #head {
    padding: 10%;
 }

 #btn {
    margin-left: 10%;
    border-radius: 50px;
    padding: 1%;
    width: 130px;
 }

 #icon {
    position: relative;
    left: 2%;
 }

 #para {
    margin-top: -3.2%;
    margin-left: 25%;
 }

 #img {
    margin-left: 43%;
    margin-top: -33%;
 }

 #head2 {
    padding: 3%;
    text-align: center;
 }

 #para2 {
    margin-top: -5%;
 }

 #img2 {
    margin-top: -23%;
    margin-left: 15%;
 }

 #flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 18%;
 }

 #btn2 {
    align-self: flex-start;
    border-radius: 50px;
    padding: 1%;
    width: 130px;
 }

 #group {
    background-color: #161C28;
    color: white;
    padding: 5%;
 }

 #form {
    margin-top: -60%;
    margin-left: 50%;
 }

 #para3 {
    margin-left: 50%;
 }